<h1>Скарга №<%=@complaint.id%></h1>
<p>номер абонента:<%=@complaint.consumer&.id%></p>
<p>телефон:<%=@complaint.phone%></p>
<p>адреса:<%=@complaint.address%></p>
<p>відповідальний:<%=@complaint.employee%></p>
<p>Зміст проблеми:<%=@complaint.text%></p>

<hr>
<div class="">
  <%=render @solveds%>
</div>
